body {
  background-attachment: fixed;
  background-image: linear-gradient(white, #663399);
}
header {
  border: 1px black solid;
  margin-bottom: 10px;
}
.preLoader {
  margin-top: 20%;
}
#headerBtn {
  margin-left: 700px;
}
.favorites {
  margin-top: 10%;
}
label {
  color: black;
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup {
  width: 300px;
  height: 200px;
  padding: 10px;
  background-color: #fff;
  border-radius: 4px;
}
